#folders

.vs/
.idea/
.vscode/
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Content/StartContent/
ProjectileClass/
ThirdParty/
Build/

#files

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace


Content/AnimStarterPack
Content/ParagonGideon
Content/Rapier_AnimSetAttack
Content/SkeletonMage
Content/GabrielAguiarProd
Content/BeamAndLaserFX01
Content/BerserkerS2
Content/Luos4elements2
Content/UndeadPack
Content/ArcherAnimsetPro
Content/SICKA_DYNASTY
Content/Rapier_AnimSet
Content/LevelPrototyping
Content/Weapon_Pack
Content/OldWest
